@import '../../styles.css';

.gallery-container {
    padding: 5rem 7rem;

}

.gallery-container .container-image {
    display: flex;
    justify-content: center;
    height: 200px;
    

    & img {
        height: 100%;
    }
}

.gallery-container_carousel {
    height: 600px;
    padding: 2rem;
    content: '';
    position: absolute;
    background: linear-gradient(0deg,#ffa60056,#ffa6003f,transparent,  transparent, transparent);
    z-index: 1;
    transform-origin: bottom right;
    animation: ov-animar-borde 6s linear infinite;
    border-radius: 20px;

}

.gallery-container h3{
    font-weight: 600;

}

.gallery-container h3,
p {
    font-family: 'Poppins', sans-serif;
    color: black;
}

.gallery-container label {
    display: block !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    border-radius: 50px;
    background-color: var(--color1);
}

.button-gallery {
    padding: 15px 30px !important;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    border: none !important;
    color: var(--color1) !important;
    font-size: 20px !important;
    

    &:hover {
        background: linear-gradient(0deg,var(--color3),var(--color4),  var(--color5), var(--color6));
    }
   }
