@import '../../styles.css';

.adoptions {
    height: 72.5vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.adoptions h1 {
    margin-bottom: 50px;
}

.adoptions h2 {
    margin-bottom: 30px;
}

.adoptions button {
    margin-top: 50px;
}

.button-adoptions {
    background-color: var(--color1) !important;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    border: none !important;

    padding: 10px 20px;
    border-radius: 10px
}

.button-adoptions a {
    color: white !important;
    text-decoration: none;
}