.adoptions {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    background-color: var(--color12);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .adoptions h1 {
    font-size: 24px;
    color: var(--color7);
    margin-bottom: 1rem;
  }
  
  .adoptions h2 {
    font-size: 20px;
    color: var(--color1);
    margin-bottom: 1rem;
  }
  
  .adoptions p {
    font-size: 16px;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .adoptions form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .adoptions form label {
    font-size: 16px;
    margin: 0rem 0;
    color: var(--color11);
  }
  
  .adoptions form input,
  .adoptions form select {
    width: 100%;
    padding: 0.5rem;
    margin: 0.2rem 0;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    max-width: 100%;
    text-align: end;
  }
  
  .adoptions form select {
    appearance: none;   
  }
  
  .adoptions form button {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: var(--color7);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  .adoptions form button:hover {
    background-color: var(--color8);
  }
  
  .yes-no-buttons {
    display: flex;
    justify-content: center;
  }
  
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding-left: 128px;
    padding-top: 0px;
    padding: 2px;
    padding-bottom: inherit;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
    font-size: 20px !important;
    margin: 1rem 0!important;
}

.css-14lo706{
    float: inline-end !important;
}

.select_Mascota{
  width: 60%;
  padding: 1rem;
  margin: 0.5rem 1%;
  border-radius: 5px;
  font-size: 16px;
  max-width: 100%;
  border: 1px solid rgb(200, 200, 200);
  transition: border-color 0.3s;
  margin-bottom: 20px !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-right: 140px;
}

.adoption-mascota {
  width: 100%;
  display: flex;
  column-gap: 20px;

}

.adoption-mascota_option {
  width: 200px;
}