@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

body {
  margin: 0;
}
.container-general_home {
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  background:   #FFA500  ;
  height: 120px;
}

img {
  width: 120px;
  height: 120px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul > li {
  margin: 0 10px;
}

p {
  color: #656565;
  cursor: pointer;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

p:hover {
  color: #000;
}