@import '../../styles.css';

nav {
  display: inline-grid;
  grid-template-columns: 100px 40%;
  width: 100%;
  padding: 0;
  padding: 10px;
  background: var(--color1);
  height: 100%;
  place-items: center;
}

.container-general_nav {
  text-align: center;
  background: var(--color1);
  height: 100px;
}



.container-general_nav img {
  height: 90px;
  margin-left: 70px;
}

.menu-button {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.container-general_nav ul {
  grid-column: none;
}

ul.menu-items {
  display: flex;
  list-style-type: none;
}

ul.menu-items li {
  margin: 0 10px;
  cursor: pointer;
  font-weight: 700;
  font-family: var(--letra);
  color: var(--color2);
  transition: color 0.3s;
}

ul.menu-items li:hover {
  color: #ffffff;
}

/* Estilos de responsive de 480px */
@media (max-width: 480px) {
  .menu-button {
    display: block;
  }

  ul.menu-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    background-color: var(--color1);
    width: 100%;
    z-index: 1;
  }

  ul.menu-items.open {
    display: flex;
  }

  ul.menu-items.open li {
    margin: 10px 0;
  }
}

.menu-items a {
  text-decoration: none;
  color: var(--color2);
}


/* Estilos de responsive de 820px */
@media (min-width: 721px) and (max-width: 820px) {
  .menu-button {
    display: none;
    /* Oculta el botón de menú en el breakpoint de 820px */
  }
}