.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 90%;
  max-width: 800px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #bfc8dd;
}

tbody:nth-child(even) {
  background-color: #f2f2f2;
}

tbody:hover {
  background-color: #ddd;
}

.buttonUser {
  display: flex;
  width: 70px;
  height: 25px;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  outline: none;
  background-color: #bfc8dd;;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px #6178ad;
}

.buttonUser:hover {
  background-color: #859ed6;
}

.buttonUser:active {
  background-color: #8896b8;
  box-shadow: 0 5px #F0FFF0;
  transform: translateY(4px);
}

.title-User {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-User img {
  align-self: flex-start;
}
