@import '../../styles.css';
/* Estilos generales para todas las resoluciones */
.home h1 {
  text-align: center;
  padding: 1.5rem 13rem 0 13rem;
  font-family: sans-serif;
}

.home h2 {
  text-align: center;
  font-family: sans-serif;
  padding: 3rem;
}

.cont-parrafos {
  display: flex;
  justify-content: space-evenly;
}

.cont-parrafos p {
  background-color: var(--color1);
  width: 250px;
  height: auto;
  padding: 1.5rem;
  border-radius: 2rem;
  font-family: sans-serif;
  color: #ffffff;
}

.agradecimiento {
  text-align: center;
  font-family: sans-serif;
 
  margin: 5rem 0;
}

.description {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description img {
  width: 500px;
  height: auto;
  border-radius: 50px;
}

footer {
  text-align: center;
  font-family: sans-serif;
  background-color: #d9d9d9;
  padding: 10px;
}

footer img {
  width: 20px;
  height: 20px;
}

footer p {
  margin: 0;
}

/* Estilos para celular de 480px */
@media (max-width: 480px) {
  .home h1 {
    font-size: 20px;
    padding: 1.5rem 2rem 0 2rem;
  }

  .cont-parrafos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
  }

  .cont-parrafos p {
    max-width: 90%;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
  }

  .description img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    width: 250px;
    
  }
 
  

}
