:root {
    --color1: #ffa500;
    ---color2: #fffcea;
    --color3: #fff5c5;
    --color4: #ffeb85;
    --color5: #ffda46;
    --color6: #ffc71b;
    --color7: #e27c00;
    --color8: #bb5502;
    --color9: #984208;
    --color10: #7c360b;
    --color11: #481a00;
  }