.general-container_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .containter-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .containter-form div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .containter-form_label {
    display: flex;
    width: 90px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .containter-form input {
    flex: 1;
    height: 25px;
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttonForm {
    display: flex;
    width: 100%;
    max-width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    background-color: #6178ad;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px #6178ad;
    color: #ffffff;
    margin-top: 20px;
  }
  
  .buttonForm:hover {
    background-color: #859ed6;
  }
  
  .buttonForm:active {
    background-color: #8896b8;
    box-shadow: 0 5px #F0FFF0;
    transform: translateY(4px);
  }
  .general-container_form .title-User {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .general-container_form .title-User img {
    align-self: flex-start;
  }